html {
  font-family: Cambria;
  text-align: center;
  background-color: #FAEBD7;
  font-size: 23px;
}
/*Image of Jane Austen*/
#img-div {
  background-color: #FFFAF0;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-radius: 60%;
}

/*Her life*/
#life {
  text-align: center;
  line-height: 1.6;
  background-color: #FFFAF0;
}

/* Seven image containers for her works*/
.column {
  float: left;
  width: 200px;
  padding: 7px;
  position: relative;
  background-color: #FFFAF0;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#sense-and-sensibility {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#pride-and-prejudice {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#mansfield-park{
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#emma {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#northanger-abbey {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#persuasion {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

#lady-susan {
  border-radius: 20%;
  width: 200px;
  height: 300px;
}

/*By hovering over a picture the title & link appear*/
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 97%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFAF0;
  border-radius: 20%;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.column:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 40px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #DDA0DD;
}
